<div class="main-container">
    <div class="group-label">
        <b>{{ group?.name }}</b>
    </div>
    <div class="flags-container">
        <img src="assets/flags/{{group?.languageFront.flag}}" /><br>
        <img src="assets/flags/{{group?.languageBack.flag}}" />
    </div>
    <div class="info-container">
        <app-label-value label="Słowa" [value]="group?.cardsCount"></app-label-value>
        <app-label-value label="Powtórzenia" [value]="group?.repeatsCount"></app-label-value>
    </div>
    <div appClickStopPropagation class="edit-button" (click)="editGroup(group)">
        <img src="assets/icons/edit.svg" />
    </div>
</div>