@import '../../../../styles.scss';

.action-button {
  margin: 0.5em;
  background-color: transparent;
}

.action-button:hover {
  background-color: #ffffff22;
}

.hover-to-show {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.hover-to-show-link:hover .hover-to-show {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.group-label {
  @extend .float-left;
  margin: auto;
  color: #555;
  font-size: 2em;
}

.flags-container {
  margin: auto;
}

.info-container {
  margin: auto;
}