@import "../../../../styles.scss";

.main-container {
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(120, 120, 120);
  align-items: center;

  &:hover {
    background-color: rgb(220, 220, 220);
  }

  .group-label {
    flex: 10;
    padding-left: 15px;
    font-size: 25px;
  }

  .flags-container {
    img {
      width: 36px;
    }
  }

  .info-container {
    padding: 10px 50px 10px 10px;
  }

  .edit-button {
    padding: 0 15px;
    cursor: pointer;
    align-self: stretch;
    display: flex;
    align-items: stretch;

    img {
      width: 24px;
    }

    &:hover {
      background-color: rgb(200, 200, 200);
    }
  }
}
