<div class="main-list">
    <div class="organizer">
        <div (click)="addWord()" class="organizer-item">
            Dodaj
        </div>
        <div (click)="lesson()" class="organizer-item">
            Lekcja
        </div>
    </div>
    <div *ngIf="group && group.words.length>0; else noWords">
        <ng-container *ngFor="let word of group.words">
            <app-word-row [word]="word"></app-word-row>
            <hr>
        </ng-container>
    </div>
    <ng-template #noWords>
        <div>
            Brak słów w grupie
        </div>
    </ng-template>
</div>
<modal-add-word [(visible)]="addWordModalVisibility" [mode]="'add'" [groupId]="group?.id" (success)="success($event)"></modal-add-word>