.main-list {
    background-color: #ffffffee;
    border-radius: 5px;
    justify-content: center;
    .organizer {
        border-bottom: 1px solid rgb(200, 200, 200);
        margin: 10px auto;
        text-align: center;
        width: 80%;
        cursor: pointer;
        padding: .5rem;
        color: rgb(100, 100, 100);
        display: flex;
        align-items: center;
        justify-content: center;
        .organizer-item {
            padding: 4px;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            cursor: pointer;
            &:hover {
                background-color: rgb(240, 240, 240)
            }
        }
    }
    hr:last-child {
        visibility: hidden;
    }
}