<div *ngIf="word">
  <div class="row">
    <div class="col-lg-4">
      <div class="language">
        <div class="word">
          {{word.language1}}
        </div>
        <div *ngIf="showMore" class="example">
          {{word.language1}}
        </div>
      </div>
    </div>
    <div class="col-lg-4 word-info">
      <div class="row word-info-item">
        <div class="col">
          Szuflada:
        </div>
        <div class="col">
          {{word.drawer}}
        </div>
      </div>
      <div class="row word-info-item">
        <div class="col">
          Powtórzenia:
        </div>
        <div class="col">
          {{word.repeatCount}}
        </div>
      </div>
      <div class="row word-info-item">
        <div class="col no-wrap">
          Ostatnie powtórzenie:
        </div>
        <div class="col">
          {{word.lastRepeat}}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="language">
        <div class="word">
          {{word.language2}}
        </div>
        <div *ngIf="showMore" class="example">
          {{word.language2}}
        </div>
      </div>
    </div>
  </div>
</div>