.container {
  width: 600px;
  padding: 20px;

  .row {
    display: flex;
    margin-bottom: 10px;

    label {
      width: 30%;
    }

    .input {
      width: 70%;
    }
  }

}

@media screen and (max-width: 640px) {}
