<p-dialog [header]="title" [visible]="isVisible" [draggable]="false" [modal]="true" [closable]="false">
  <form class="container" [formGroup]="groupForm">
    <div class="row">
      <label for="name">
        <b>Name</b>
      </label>
      <input class="input" type="text" formControlName="name">
    </div>
    <div class="row">
      <label for="language1">
        <b>Front</b>
      </label>
      <app-languages-drop-down class="input" formControlName="languageFront"></app-languages-drop-down>
    </div>
    <div class="row">
      <label for="language2">
        <b>Back</b>
      </label>
      <app-languages-drop-down class="input" formControlName="languageBack"></app-languages-drop-down>
    </div>
  </form>
  <p-footer>
    <button (click)="onSave()" label="Save"></button>
    <button *ngIf="isRemoveVisible" (click)="onRemove()" label="Remove"></button>
    <button (click)="onCancel()" label="Cancel"></button>
  </p-footer>
</p-dialog>
