<p-dialog [header]="title" [(visible)]="display" (onHide)="onCancel()">
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
        <label for="name">
            Nazwa grupy
            <input pInputText type="text" formControlName="name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>
        </label>
        <label for="language1">
            Język 1
            <app-languages-drop-down formControlName="language1"></app-languages-drop-down>
        </label>
        <label for="language2">
            Język 2
            <app-languages-drop-down formControlName="language2"></app-languages-drop-down>
        </label>

        <button type="submit" [disabled]="!groupForm.valid">Zapisz</button>
    </form>
</p-dialog>