@import './styles/constants.scss';
body {
    background-attachment: fixed;
    background-image: url('./assets/test.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer {
    background-color: $bg-dark-transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff40;
    font-size: 1em;
    text-align: center;
}

.no-wrap {
    white-space: nowrap;
}

.align-right{
    text-align: right;
}