.circle-button {
    height: 4em;
    width: 4em;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}


html *
{
   font-family: Helvetica !important;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}