<p-dialog [header]="title" [visible]="isVisible" [draggable]="false" [modal]="true" [closable]="false">
  <form class="container" [formGroup]="wordForm">
    <div class="row">
      <label for="name">
        <b>Front word</b>
      </label>
      <input class="input" pInputText type="text" formControlName="language1">
    </div>
    <div class="row">
      <label for="name">
        <b>Front example</b>
      </label>
      <input class="input" pInputText type="text" formControlName="example1">
    </div>
    <div class="row">
        <label for="name">
          <b>Back word</b>
        </label>
        <input class="input" pInputText type="text" formControlName="language2">
      </div>
      <div class="row">
        <label for="name">
          <b>Back example</b>
        </label>
        <input class="input" pInputText type="text" formControlName="example2">
      </div>
      <div class="row">
        <label for="name">
          <b>Append to lesson</b>
        </label>
        <p-checkbox class="input" [formControl]="wordForm.controls['isVisible']" binary="true"></p-checkbox>
      </div>
  </form>
  <p-footer>
    <button id="save-btn" pButton (click)="onSave()" label="Save"></button>
    <button id="remove-btn" *ngIf="isRemoveVisible" pButton (click)="onRemove()" label="Remove"></button>
    <button id="cancel-btn" pButton (click)="onCancel()" label="Cancel"></button>
  </p-footer>
</p-dialog>
