<p-dialog [header]="title" [(visible)]="display" (onHide)="onCancel()">
    <form style="width: 1000px;" [formGroup]="wordForm" (ngSubmit)="onSubmit()">
        <div class="ui-g">
            <label for="language1" class="ui-g-3 col-form-label">
                <b>Język 1</b>
            </label>
            <div class="ui-g-9">
                <input style="width: 100%;" pInputText type="text" formControlName="language1">
                <div class="error-message"
                    *ngIf="language1.invalid && (language1.dirty || language1.touched) && language1.errors.required">
                    Pole jest wymagane.
                </div>
            </div>
        </div>
        <div class="ui-g">
            <label for="language2" class="ui-g-3 col-form-label">
                <b>Język 2</b>
            </label>
            <div class="ui-g-9">
                <input style="width: 100%;" pInputText type="text" formControlName="language2">
                <div class="error-message"
                    *ngIf="language2.invalid && (language2.dirty || language2.touched) && language2.errors.required">
                    Pole jest wymagane
                </div>
            </div>
        </div>
        <div class="ui-g">
            <label for="example1" class="ui-g-3 col-form-label">
                <b>Przykład 1</b>
            </label>
            <div class="ui-g-9">
                <input style="width: 100%;" pInputText type="text" formControlName="example1">
            </div>
        </div>
        <div class="ui-g">
            <label for="example2" class="ui-g-3 col-form-label">
                <b>Przykład 2</b>
            </label>
            <div class="ui-g-9">
                <input style="width: 100%;" pInputText type="text" formControlName="example2">
            </div>
        </div>

        <div class="ui-g">
            <label for="example2" class="ui-g-3 col-form-label">
                <b>Ucz się</b>
            </label>
            <div class="ui-g-9">
                <p-checkbox [formControl]="wordForm.controls['isVisible']" binary="true"></p-checkbox>
            </div>
        </div>
        <div class="ui-g" style="padding: 5px; position: relative;">
            <button pButton class="ui-button-success" style="width: 100%;" type="submit" label="Zapisz" [disabled]="!wordForm.valid"></button>
        </div>
    </form>
    <div class="ui-g">
        <div class="ui-g-6" style="padding: 5px; position: relative;">
            <button class="ui-button-danger" style="width: 100%" pButton (click)="onRemove()" label="Usuń"></button>
        </div>
        <div class="ui-g-6" style="padding: 5px; position: relative;">
            <button class="ui-button-warring" style="width: 100%" pButton (click)="onCancel()" label="Anuluj"></button>
        </div>
    </div>
</p-dialog>