<p-dialog [header]="title" [visible]="isVisible" [draggable]="false" [modal]="true" [closable]="false">
  <form class="container" [formGroup]="wordForm">
    <div class="row">
      <label for="name">
        Front word
      </label>
      <input class="input" type="text" formControlName="language1">
    </div>
    <div class="row">
      <label for="name">
        Front example
      </label>
      <input class="input" type="text" formControlName="example1">
    </div>
    <div class="row">
      <label for="name">
        Back word
      </label>
      <input class="input" type="text" formControlName="language2">
    </div>
    <div class="row">
      <label for="name">
        Back example
      </label>
      <input class="input" type="text" formControlName="example2">
    </div>
    <div class="row">
      <label for="name">
        Append to lesson
      </label>
      <p-checkbox class="input" [formControl]="wordForm.controls['isVisible']" binary="true"></p-checkbox>
    </div>
  </form>
  <p-footer>
    <button id="save-btn" (click)="onSave()">Save</button>
    <button id="remove-btn" *ngIf="isRemoveVisible" (click)="onRemove()">Remove</button>
    <button id="cancel-btn" (click)="onCancel()">Cancel</button>
  </p-footer>
</p-dialog>
