<div class="main-container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <p class="title">
      Rejestracja
    </p>
    <input (keyup.enter)="onEnterClick()" class="user-text" type="text" formControlName="userName" placeholder="Nazwa użytkownika">
    <input (keyup.enter)="onEnterClick()" class="password-text" type="password" formControlName="password" placeholder="Hasło">
    <input (keyup.enter)="onEnterClick()" class="password-text" type="password" formControlName="passwordRepeat" placeholder="Powtórz hasło">
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Zarejestruj</button>
    <p class="register-message">
      Masz już konto? <a routerLink="/wordki/user/login">Zaloguj się</a>
    </p>
  </form>
</div>