<ng-container *ngIf="lessonStep$ | async as lessonStep">
    <div class="card" [ngClass]="{'blur': lessonStep.restartBtn}">
        <ng-container *ngIf="currentCard$ | async as currentWord">
            <app-fiszka-side [isTextVisible]="lessonStep.question" [value]="currentWord.question.value"
                [example]="currentWord.question.example"></app-fiszka-side>
            <hr>
            <app-fiszka-side [isTextVisible]="lessonStep.answare" [value]="currentWord.answer.value"
                [example]="currentWord.answer.example"></app-fiszka-side>
        </ng-container>
    </div>
</ng-container>