<div class="container" *ngIf="model">
  <div class="row form-row">
    <label class="col-lg-3 center-align">Nazwa grupy</label>
    <div class="col-lg-9 input-cell">
      <input class="form-control" [(ngModel)]="model.name">
    </div>
  </div>
  <div class="row form-row">
    <label class="col-lg-3 center-align">Język 1</label>
    <div class="col-lg-9 input-cell">
      <app-dropdown-base-b [items]="languages" [(selectedItem)]="model.language1">
        <ng-template #itemTemplate let-item>
          <app-dropdown-item-language [language]="item"></app-dropdown-item-language>
        </ng-template>
      </app-dropdown-base-b>
    </div>
  </div>
  <div class="row form-row">
    <label class="col-lg-3 center-align">Język 2</label>
    <div class="col-lg-9 input-cell">
      <app-dropdown-base-b  [items]="languages" [(selectedItem)]="model.language2">
        <ng-template #itemTemplate let-item>
          <app-dropdown-item-language [language]="item"></app-dropdown-item-language>
        </ng-template>
      </app-dropdown-base-b>
    </div>
  </div>
</div>