.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    .form-row {
        margin-top: 10px;
    }
    .form-row:first-child {
        margin-top: 0px;
    }
}