<div class="container container-main">
  <div class="row">
    <button *ngIf="question!=''" class="btn btn-primary" (click)="updateWord()" data-toggle="modal" data-target="#newWordModal">Edytuj</button>
    <button *ngIf="question!=''" class="btn btn-primary" (click)="pause()">Stop</button>
    <button *ngIf="question!=''" class="btn btn-primary" (click)="resume()">Resume</button>
  </div>
  <div class="row">
    <div class="col col-lg-3">
      Słowa: {{answerCounter}}
    </div>
    <div class="col col-lg-3">
      Pozostałe: {{remainingWords}} / {{allWords}}
    </div>
    <div class="col col-lg-3">
      Poprawne: {{correctCounter}}
    </div>
    <div class="col col-lg-3">
      Błędne: {{wrongCounter}}
    </div>
  </div>
  <div class="words-container">
    <p class="language-label">
      <span>&#160;</span>
      {{question}}
    </p>
    <p class="example-label">
      <span>&#160;</span>
      {{questionExample}}
    </p>
    <hr>
    <p class="language-label">
      <span>&#160;</span>
      {{answare}}
    </p>
    <p class="example-label">
      <span>&#160;</span>
      {{answareExample}}
    </p>
  </div>
  <div class="buttons-container">
    <div class="text-center" *ngIf="needToStart">
      <button class="btn btn-primary button-action" (click)="startLesson()">Rozpocznij</button>
    </div>
    <div class="text-center" *ngIf="needToAnsware">
      <button class="btn btn-danger button-action" title="[Left arrow]" (click)="unknow()">Nie znam</button>
      <button class="btn btn-success button-action" title="[Right arrow]" (click)="know()">Znam</button>
    </div>
    <div class="text-center" *ngIf="needToCheck">
      <button class="btn btn-warning button-action" title="[Enter]" (click)="check()">Sprawdź</button>
    </div>
  </div>
</div>
