<div class="basic-summary">
  <app-info-card id="lesson-card" title="Today repeats" [label]="cardToRepeat$ | async" clickable="true"
    [isLoading]="!(isCardToRepeatReady$ | async)" (click)="startLesson()"></app-info-card>

  <app-info-card id="history-card" title="Last lesson" [label]="lastRepeat$ | async | toDays" clickable="true"
    [isLoading]="!(lastRepeat$ | async)" (click)="history()"></app-info-card>

  <app-info-card id="groups-card" title="Groups" [label]="groupsCount$ | async" clickable="true"
    [isLoading]="!(isGroupsCountReady$ | async)" (click)="groups()"></app-info-card>
    
  <app-info-card id="cards-card" title="Cards" [label]="isCardsCountReady$ | async" clickable="true"
    [isLoading]="!(cardsCount$ | async)" (click)="cards()"></app-info-card>
</div>
<div class="cards-container">
  <div class="card-element">
    <p-card styleClass="card">
      <p-header>
        <div class="card-header">
          The newest card
        </div>
      </p-header>
      <ng-container *ngIf="newestCard$ | async as word; else loading">
        <ng-container *ngIf="word.groupLanguage1 !== null; else nowords">
          <app-card [word]="word"></app-card>
        </ng-container>
      </ng-container>
    </p-card>
  </div>
  <div class="card-element">
    <p-card styleClass="card">
      <p-header>
        <div class="card-header">
          Next repeat
        </div>
      </p-header>
      <ng-container *ngIf="nextRepeat$ | async as word; else loading">
        <ng-container *ngIf="word.groupLanguage1 !== null; else nowords">
          <app-card [word]="word"></app-card>
        </ng-container>
      </ng-container>
    </p-card>
  </div>
  <div class="card-element">
    <p-card styleClass="card">
      <p-header>
        <div class="card-header">
          Last failure
        </div>
      </p-header>
      <ng-container *ngIf="lastFailed$ | async as word; else loading">
        <ng-container *ngIf="word.groupLanguage1 !== null; else nowords">
          <app-card [word]="word"></app-card>
        </ng-container>
      </ng-container>
    </p-card>
  </div>
</div>

<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>

<ng-template #nowords>
  <b>You do not have any cards</b>
</ng-template>
