<div class="lesson-info">
  <div class="info-card" (click)="startLesson()">
    <div class="title">
      Today repeats
    </div>
    <ng-container *ngIf="isCardToRepeatReady$ | async; else loading">
      <div class="value">
        {{cardToRepeat$ | async}}
      </div>
    </ng-container>
  </div>
  <div class="info-card" (click)="history()">
    <div class="title">
      Last lesson
    </div>
    <ng-container *ngIf="lastRepeat$ | async as lastRepeat; else loading">
      <div class="value">
        {{lastRepeat | toDays}}
      </div>
    </ng-container>
  </div>
  <div class="info-card" (click)="groups()">
    <div class="title">
      Groups
    </div>
    <ng-container *ngIf="isGroupsCountReady$ | async; else loading">
        <div class="value">
            {{groupsCount$ | async}}
          </div>
    </ng-container>
  </div>
  <div class="info-card" (click)="cards()">
    <div class="title">
      Cards
    </div>
    <ng-container *ngIf="isCardsCountReady$ | async; else loading">
      <div class="value">
        {{cardsCount$ | async}}
      </div>
    </ng-container>
  </div>
</div>
<div class="cards-container">
  <div class="card-element">
    <p-card styleClass="card">
      <p-header>
        <div class="card-header">
          The newest card
        </div>
      </p-header>
      <ng-container *ngIf="newestCard$ | async as word; else loading">
        <ng-container *ngIf="word.groupLanguage1 !== null; else nowords">
          <app-card [word]="word"></app-card>
        </ng-container>
      </ng-container>
    </p-card>
  </div>
  <div class="card-element">
    <p-card styleClass="card">
      <p-header>
        <div class="card-header">
          Next repeat
        </div>
      </p-header>
      <ng-container *ngIf="nextRepeat$ | async as word; else loading">
        <ng-container *ngIf="word.groupLanguage1 !== null; else nowords">
          <app-card [word]="word"></app-card>
        </ng-container>
      </ng-container>
    </p-card>
  </div>
  <div class="card-element">
    <p-card styleClass="card">
      <p-header>
        <div class="card-header">
          Last failure
        </div>
      </p-header>
      <ng-container *ngIf="lastFailed$ | async as word; else loading">
        <ng-container *ngIf="word.groupLanguage1 !== null; else nowords">
          <app-card [word]="word"></app-card>
        </ng-container>
      </ng-container>
    </p-card>
  </div>
</div>

<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>

<ng-template #nowords>
  <b>You do not have any cards</b>
</ng-template>
