.basic-summary {
  padding: 40px 0;
  width: 95%;
  margin: auto;
  display: flex;
  position: relative;

  app-info-card {
    flex-grow: 1;
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0px;
  }
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  .card-element {
    padding: 5px;
    width: 45%;
  }
}

.card-header {
  text-align: center;
  margin: 4px 0;
}
