<button (click)="lessonFiszki()">Lekcja Fiszki</button>
<button (click)="lessonInsert()">Lekcja Wpisywanie</button>
<div class="ui-g">
    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
        <div class="card">
            <app-last-failed-repeat></app-last-failed-repeat>
        </div>
        <div class="card">
            <app-next-repeat-word></app-next-repeat-word>
        </div>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
        <div class="card">
            <app-newest-words></app-newest-words>
        </div>
    </div>
</div>