<div class="o-dropdown-container">
  <div #button (click)="buttonClick()" class="o-dropdown-button">
    <ng-container *ngIf="selectedItem; Else custom">
      <ng-container *ngTemplateOutlet="itemTemplateRef; context: {$implicit: selectedItem}"></ng-container>
    </ng-container>
    <ng-template #custom>
      Wybierz...
    </ng-template>
  </div>
  <div #menu class="o-dropdown-menu" [ngClass]="{'o-dropdown-menu-open': isOpen}">
    <ng-container *ngFor="let item of items">
      <div class="o-dropdown-item" (click)="selectItem(item)">
        <ng-template *ngTemplateOutlet="itemTemplateRef; context: {$implicit: item}"></ng-template>
      </div>
    </ng-container>
  </div>
</div>