<div class="main-container">
    <div class="group-container">
        <div class="group-info">
            <img *ngIf="displayingFlag" src="assets/flags/{{displayingFlag}}" />
            <b>{{card?.groupName}}</b>
        </div>
    </div>
    <div class="content-container" [ngSwitch]="side" (click)="changeSide()">
        <div *ngSwitchCase="'language1'">
            <div class="word">
                &bull; {{card?.front.value}}
            </div>
            <div class="example">
                {{card?.front.example}}
            </div>
        </div>
        <div *ngSwitchCase="'language2'">
            <div class="word">
                &bull; {{card?.back.value}}
            </div>
            <div class="example">
                {{card?.back.example}}
            </div>
        </div>
    </div>
</div>