.group-desc{
    
}

.word {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.example {
    text-align: center;
    font-size: 12px;
    font-weight: 450;
    cursor: pointer;
}


