<div class="dropdown">
  <div class="dropdown-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <ng-container *ngIf="selectedItem; Else custom">
      <ng-container *ngTemplateOutlet="itemTemplateRef; context: {$implicit: selectedItem}"></ng-container>
    </ng-container>
    <ng-template #custom>
      Wybierz...
    </ng-template>
  </div>
  <div class="dropdown-menu" style="width: 100%" aria-labelledby="dropdownMenuButton">
    <ng-container *ngFor="let item of items">
      <a class="dropdown-item" (click)="selectItem(item)">
        <ng-container *ngTemplateOutlet="itemTemplateRef; context: {$implicit: item}"></ng-container>
      </a>
    </ng-container>
  </div>
</div>