.dropdown-button {
    background-color: #F8F9FA;
    cursor: pointer;
    padding: 0.25rem 1.5rem;
    font-weight: 400;
    color: #212529;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    border: 0;
    border-radius: 5px;
}
.dropdown-item {
    cursor: pointer;
}