<div class="main-container" (click)="toggle()">
    <div class="ui-g basic-info">
        <div class="ui-g-9">
            <div class="word flaot-left">
                {{ word?.language1 }}
            </div>
            <!-- <hr size="1px"> -->
            <div class="word flaot-left">
                {{ word?.language2 }}
            </div>
        </div>
        <div class="ui-g-2" style="margin: auto;">
            <div class="float-left">
                {{ word?.drawer }}
            </div>
        </div>
        <div class="ui-g-1" style="margin: auto;">
            <div class="float-right">
                <button appClickStopPropagation class="circle-button action-button" (click)="edit(word)">
                    <img src="assets/icons/edit.svg" style="width: 25px;" />
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="word.isExpanded">
        <hr style="margin: 5px 20px;" size=1>
        <div class="ui-g">
            <div class="ui-g-7">
                <div class="example">
                    {{ word?.example1 }}
                </div>
                <!-- <hr> -->
                <div class="example">
                    {{ word?.example2 }}
                </div>
            </div>
            <div class="ui-g-5">
                <span class="info-label">Ostatnia powtórka </span><b>{{word.repeats[word.repeats.length - 1].date | toDays}}</b><br>
                <span class="info-label">Następna powtórka </span><b>{{word.nextRepeat | date:"dd/MM/yyyy"}}</b><br>
                <span class="info-label">Wszystkie powróki </span><b>{{word.repeats.length}}</b><br>
            </div>
        </div>
    </div>
</div>