.main-container {
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.301);
  -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.301);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.301);
  color: rgb(110, 110, 110);

  &:hover {
    color: rgb(50, 50, 50);
    -webkit-box-shadow: 0 0 20px -10px #0000004d;
    -moz-box-shadow: 0 0 20px -10px #0000004d;
    box-shadow: 0 0 20px -10px #00000080;
    cursor: pointer;
  }

  .side {
    width: 48%;

    .word {
      margin-bottom: 10px;
      font-size: xx-large;
      font-family: Comfortaa;
      text-align: center;
    }

    .example {
      font-size: medium;
      font-family: Comfortaa;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 640px) {
  .main-container {
    .edit-button {
      img {
        width: 16px;
      }
    }
  }
}
