.main-container {
    border-radius: 10px;
    margin: 5px 10px;
    position: relative;
    border: 1px solid #ccc;

    .word {
        height: 50px;
        margin: 2px;
        font-weight: 550;
        font-size: 1.5em;
        color: #555;
        display: flex;
        align-items: center;
    }

    hr {
        color: #ccc;
    }

    .example {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 30px;
        font-size: 1em;
        color: #555;
    }

    .info-label {
        font-size: 0.7em;
        color: #777;
    }

    .edit-button {
        display: flex;
        cursor: pointer;

        &:hover {
            background-color: #00000011;
        }

        img {
            width: 25px;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 640px) {
    .main-container {
        .edit-button {
            img {
                width: 16px;
            }
        }
    }
}
