.main-container {
    background-color: #ffffffee;
    border-radius: 5px;
    .modal-title {
        padding: 0 50px;
        padding-top: 20px;
    }
    .form-body {
        padding: 0 50px;
        padding-top: 20px;
        .input-row {
            margin: 5px 0;
        }
    }
}

.button-submit {
    margin-right: 50px;
    margin-bottom: 10px;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}