<div class="main-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <p class="title">
            Logowanie
        </p>
        <input (keyup.enter)="onEnterClick()" class="user-text" type="text" formControlName="userName" placeholder="Nazwa użytkownika">
        <input (keyup.enter)="onEnterClick()" class="password-text" type="password" formControlName="password"
            placeholder="Hasło">
        <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Zaloguj</button>
        <p class="login-message">
            Nie masz konta? <a routerLink="/wordki/user/register">Zarejestruj się</a>
        </p>
    </form>
</div>