@import 'src/styles/constants.scss';
$front:rgba(0, 0, 0, 0.627);
$front-additional:rgba(0, 0, 0, 0.502);
.main-container {
    width: 100%;
    text-align: center;
}

.title {
    color: $front;
    font-size: 35px;
    font-weight: 500;
}

form {
    display: inline-block;
    width: 70%;
    border-radius: 15px;
    background-color: #ffffffee;
    padding: 50px 0;
}

input[type=text],
input[type=password] {
    border: 1px solid transparent;
    background-color: transparent;
    color: $front;
    font-size: 20px;
    width: 80%;
    margin: 10px 10%;
    padding: 5px 42px;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
    color: $front;
}

input[type=text]:focus,
input[type=password]:focus {
    border-bottom: 1px solid $front;
    outline: 0;
}

.user-text {
    background: url('../../../../assets/svg/user.svg') no-repeat;
    background-size: 25px;
    background-position: 10px;
}

.password-text {
    background: url('../../../../assets/svg/padlock.svg') no-repeat;
    background-size: 25px;
    background-position: 10px;
}

button {
    width: 80%;
    margin: 10px 0;
    padding: 10px 0;
}

::placeholder {
    color: $front-additional;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $front-additional;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $front-additional;
}

.account-message {
    font-size: 15px;
    color: $front;
    a {
        text-decoration: none;
    }
}

.register-message {
    @extend .account-message;
    a {
        color: green;
    }
}

.login-message {
    @extend .account-message;
    a {
        color: green;
    }
}

@media (max-width: 991px) {
    form {
        width: 98%;
        margin: 10px 1%;
    }
}