<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="element-container">
    <input type="text" formControlName="userName" placeholder="Username">
    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="error-message">
      <div *ngIf="userName.errors.required">
        Username cannot be empty
      </div>
    </div>
  </div>
  <div class="element-container">
    <input type="password" autocomplete="off" formControlName="password" placeholder="Password">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
      <div *ngIf="password.errors.required">
        Password cannot be empty
      </div>
    </div>
    </div>
    <div class="ui-g" style="padding: 5px; position: relative;">
      <app-button type="submit" label="Sign In"></app-button>
    </div>
</form>
<p-toast position="top-right"></p-toast>
