<div class="main-container">
  <div class="timer">
    <app-stoper></app-stoper>
    <app-results withAccepted="true"></app-results>
  </div>
  <div class="fiszka">
    <div [ngClass]="{'blur': isPause$ | async}">
      <ng-container *ngIf="lessonStep$ | async as lessonStep">
        <ng-container *ngIf="currentCard$ | async as currentWord">
          <app-fiszka-side [isTextVisible]="lessonStep.question" [value]="currentWord.question.value"
            [example]="currentWord.question.example"></app-fiszka-side>
          <hr>
          <input #answerElement [ngClass]="{'correct': isCorrect, 'wrong': isWrong}" [(ngModel)]="value"
            [disabled]="!lessonStep.checkBtn" />
          <app-fiszka-side [isTextVisible]="lessonStep.answer && isWrong" [value]="currentWord.answer.value"
            [example]="currentWord.answer.example"></app-fiszka-side>
        </ng-container>
        <app-controller [lessonStep]="lessonStep" (correct)="correct()" (wrong)="wrong()" (check)="check()"></app-controller>
      </ng-container>
    </div>
  </div>
  <div class="additional-info">
    <app-settings></app-settings>
  </div>
</div>
