<app-edit-word-dialog [display]="editingWord" [word]="editingWord" (submit2)="onSubmit($event)" (cancel)="onCancel()" (remove)="onRemove($event)"></app-edit-word-dialog>
<button (click)="onAddWord()">Dodaj</button>
<div>
    Grupa:
    <ng-container *ngIf="isGroupDetailsLoading$ | async; else groupDetails">
        ładowanie
        <!-- <app-progress-horizontal></app-progress-horizontal> -->
    </ng-container>
</div>
<div>
    Słowa:
    <ng-container *ngIf="isWordsLoading$ | async; else words">
        ładowanie
        <!-- <app-progress-horizontal></app-progress-horizontal> -->
    </ng-container>
</div>

<ng-template #groupDetails>
    <ng-container *ngIf="groupDetails$ | async as groupDetails">
        {{ groupDetails.name }}
    </ng-container>
</ng-template>

<ng-template #words>
    <ng-container *ngIf="words$ | async as words">
        <app-word-row *ngFor="let item of words" [word]="item" (editWord)="onEditWord($event)"></app-word-row>
    </ng-container>
</ng-template>