<div id="group-container">
  <ng-container *ngIf="isGroupDetailsLoading$ | async; else groupDetails">
    Loading...
  </ng-container>
</div>
<div id="add-card-btn" class="button-container">
  <button class="custom-button" (click)="addCard()">Add new card</button>
</div>

<div id="cards-container">
  <ng-container *ngIf="isCardsLoading$ | async; else words">
    Loading...
  </ng-container>
</div>

<ng-template #groupDetails>
  <ng-container *ngIf="groupDetails$ | async as groupDetails">
    <app-group-description [groupName]="groupDetails.name" [language1]="groupDetails.languageFront"
      [language2]="groupDetails.languageBack" [wordsCount]="groupDetails.cardsCount" [repeatsCount]="groupDetails.repeatsCount"
      [creationDate]="groupDetails.creationDate"></app-group-description>
  </ng-container>
</ng-template>

<ng-template #words>
  <ng-container *ngIf="cards$ | async as cards">
    <ng-container *ngIf="cards.length !== 0; else nowords">
      <app-word-row *ngFor="let item of cards" [word]="item" (click)="editCard(item)"></app-word-row>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #nowords>
  <b>Any cards has not been added to the group</b>
</ng-template>

<app-edit-word-dialog [isVisible]="dialogVisibility$ | async" [mode]="dialogMode$ | async" [word]="dialogCard$ | async"
  (save)="onEditSave($event)" (cancel)="onEditCancel()" (remove)="onEditRemove($event)">
</app-edit-word-dialog>editWord
