<form [formGroup]="wordForm" (ngSubmit)="onSubmit()">
    <label>
        Język 1
        <input pInputText type="text" formControlName="language1">
    </label>
    <label>
        Język 2
        <input pInputText type="text" formControlName="language2">
    </label>

    <label>
        Przykład 1
        <input pInputText type="text" formControlName="example1">
    </label>
    <label>
        przykład 2
        <input pInputText type="text" formControlName="example2">
    </label>

    <label>
        ucz się
        <!-- <p-checkbox formControlName="isVisible"></p-checkbox> -->
    </label>

    <button type="submit" >Zapisz</button>
</form>