.form-container {
  width: 640px;
  padding: 50px 50px;
  margin: 200px auto 0 auto;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;

  .header {
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
  }
}

.error-message {
  color: red;
  font-size: 0.75em;
}

.col-form-label {
  margin: auto;
}

@media only screen and (max-width: 640px) {
  //large
  .form-container {
    width: 98%;
    padding: 50px 50px;
    margin: 200px auto 0 auto;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
  
    .header {
      text-align: center;
      font-size: x-large;
      margin-bottom: 20px;
    }
  }
}