.form-container {
    width: 800px;
    padding: 50px 50px;
    margin: 200px auto 0 auto;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
  
    .header {
      text-align: center;
      font-size: x-large;
      margin-bottom: 20px;
    }
  }
  