@import 'src/styles/constants.scss';
.stats {
    background-color: #ffffffee;
    border-radius: 5px;
}

.main-list {
    background-color: #ffffffee;
    border-radius: 5px;
    justify-content: center;
    .organizer {
        border-bottom: 1px solid rgb(200,200,200);
        margin: 10px auto;
        text-align: center;
        width: 80%;
        cursor: pointer;
        padding: .5rem;
        color: rgb(100, 100, 100);
    }
    hr:last-child {
        visibility: hidden;
    }
}