.pi{
    font-size: 3em;
    border-radius: 3px;
}

.pi-check {
    width: 100%;
    background-color: #ffba01 !important;
    border-color: #ffba01 !important;
}
.pi-thumbs-down {
    width: 49%;
    margin-right: 1%;
    background-color: #e91224 !important;
    border-color: #e91224 !important;
}

.pi-thumbs-up {
    width: 49%;
    margin-left: 1%;
    background-color: #34A835 !important;
    border-color: #34A835 !important;
}
