.o-modal-main {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    ;
    .o-modal-body {
        margin-top: 100px;
        background-color: rgba(256, 256, 256, 0.8);
        border-radius: 5px;
        min-width: 400px;
        display: inline-block;
    }
    .o-modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid rgba(126, 126, 126, 0.5);
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
        .o-modal-header-button {
            float: right;
        }
    }
    .o-modal-content {
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
        overflow: visible;
    }
    .o-modal-footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-top: 1px solid rgba(126, 126, 126, 0.5);
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
        .o-modal-footer-button {
            float: right;
            button{
              margin-left: 10px;
              min-width: 50px;
            }
        }
    }
}

.o-modal-background {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}