<div class="o-modal-main" (click)="clickOutside()" [ngStyle]="{'display':visible?'block':'none'}">
  <div class="o-modal-body" (click)="modalClick()" [ngStyle]="style">
    <div class="o-modal-header">
      {{header}}
      <div class="o-modal-header-button">
        <button id="closeButton" (click)="closeDialog()">x</button>
      </div>
    </div>
    <div class="o-modal-content">
      <ng-content></ng-content>
    </div>
    <div class="o-modal-footer">
        <ng-container *ngTemplateOutlet="footer;"></ng-container>
    </div>
  </div>
</div>
<div (click)="clickOutside()" class="o-modal-background" [ngStyle]="{'display':visible?'block':'none'}">
</div>