<p-card class="card" header="Najnowsze słowa">
    <ng-container *ngIf="words$ | async as words; else loading">
        <ng-container *ngIf="words.length !== 0;else nowords">
            <p-carousel [value]="words">
                <ng-template let-word pTemplate="item">
                    <app-card [word]="word"></app-card>
                </ng-template>
            </p-carousel>
        </ng-container>
    </ng-container>
</p-card>

<ng-template #loading>
    <app-progress-spinner></app-progress-spinner>
</ng-template>

<ng-template #nowords>
    <b>Brak słów</b>
</ng-template>