<div *ngIf="word" class="container container-main">
  <app-input-row [label]="'Język 1'" [(value)]="word.language1"></app-input-row>
  <app-input-row [label]="'Język 2'" [(value)]="word.language2"></app-input-row>
  <app-input-row [label]="'Język 1 przykład'" [(value)]="word.language1Example"></app-input-row>
  <app-input-row [label]="'Język 2 przykład'" [(value)]="word.language2Example"></app-input-row>
  <div class="col-lg-3">
      <span></span>
    </div>
    <div class="col-lg-9">
      <input [(ngModel)]="word.visible" type="checkbox" class="form-check-input" id="visible">
      <label class="form-check-label" for="visible">Wszystkie słowa</label>
    </div>
</div>