.main-container {
  display: flex;
  align-content: space-between;

  button {
    width: 30%;

  }
}

button {
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 5px;
  background-color: #fff;
  border: rgb(172, 172, 172);
  color: rgb(172, 172, 172);
  font-size: large;
  font-family: Comfortaa;
  margin: 0 10px;
  padding: 10px 10px;
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.301);
  -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.301);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.301);

  &:hover {
    cursor: pointer;
    border: rgb(116, 116, 116);
    color: rgb(116, 116, 116);
    -webkit-box-shadow: 0 0 20px -10px #0000004d;
    -moz-box-shadow: 0 0 20px -10px #0000004d;
    box-shadow: 0 0 20px -10px #00000080;
  }
}
